//用户订单
.cont {
  .cont-img {
    background: url("../img/about-successful.png");
    background-size: 100%;
    width: 100%;
    height: 143px;
    .cont-box{
      display: flex;
      justify-content: space-between;
      padding: 40px 15px;
      .cont-text {
        .title-text {
          font-size: 20px;
          margin-bottom: 13px;
          color: #ffffff;
        }
        .vice-text {
          color: #D0D0D0;
          font-size: 13px;
        }
      }
      .number {
        color: #F0271D;
        font-size: 40px;
        margin-top: 9px;
      }
    }
  }
  .cont-information {
    padding: 0 15px;
    margin-top: -30px;
    z-index: 1000;
    margin-bottom: 28px;
    .default-text {
      color: #F0271D;
    }
  }
  .btn {
    margin: 0 15px;
    .cont-btn {
      position: initial;
    }
    .index {
      text-align: center;
      margin-top: 35px;
      font-size: 15px;
      color: #000000;
    }
  }
}